@model LoginModel
@{
    ViewData["Title"] = "Giriş Yap";
    var Alert=TempData["Alert"];
}

<div class="container my-5">
    @if(@TempData["Message"]!=null)
    {
        <div class="alert @Alert" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="card bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header border-bottom border-white"><h5 class="text-center text-white py-3">Giriş Bilgileri</h5></div>
                <div class="card-body mt-3">
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div class="mb-3">
                            <label asp-for="UserName" class="form-label text-white">Kullanıcı Adı</label>
                            <input asp-for="UserName" class="form-control text-dark" placeholder="Kullanıcı Adı">
                            <span asp-validation-for="UserName" class="text-warning float-end"></span>
                        </div>
                        <div class="mb-5">
                            <label asp-for="Password" class="form-label text-white">Şifre</label>
                            <input asp-for="Password" class="form-control text-dark" placeholder="Şifre">
                            <span asp-validation-for="Password" class="text-warning float-end"></span>
                        </div>
                        <div class="mb-4 d-flex justify-content-evenly">
                            <div>
                                <button class="btn btn-outline-light" type="submit">Giriş Yap</button>
                            </div>
                            <div>
                                <a class="btn btn-outline-light" asp-controller="Account" asp-action="Register">Kayıt Ol</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>