@model string
<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container p-0 ">
        <div style="width: 100%;">
            <h5 class="text-center text-dark p-0" style="width: 100%;">@Model</h5>
        </div>
    </div>
</nav>