
@{
    ViewData["Title"]="Hakkımızda";
}

<div class="container my-5">
    <div>
        <h1 class="text-center text-dark my-5">Hakkımızda</h1>
    </div>
    <div>
        <p class="text-dark fs-5 text-justify">
            Yusuf Gürbüztürk, Atatürk Üniversitesi Bilgisayar Mühendisliği Bölümü’nden mezun oldu. Yusuf, blog yazarlığına ilgi duyan ve kendi blog sitesini kurmak isteyen bir kişidir. Yusuf’un kurduğu blog sitesinin adı Blogman’dır
        </p>
        <p class="text-dark fs-5 text-justify">
            Blogman, blog yazarlığına yeni bir soluk getiren bir blog sitesidir. Blogman, blog yazarlarının ilgi alanlarına göre kişiselleştirilmiş içerikler oluşturmasına, paylaşmasına ve takip etmesine olanak tanır. Blogman, blog yazarlarının kendilerini ifade etmelerine, fikir alışverişinde bulunmalarına ve topluluk oluşturmalarına yardımcı olur.
        </p>
        <p class="text-dark fs-5 text-justify">
            Blogman’ın misyonu, blog yazarlığını kolaylaştırmak, zenginleştirmek ve eğlenceli hale getirmektir. Blogman, blog yazarlarına ücretsiz olarak sunduğu araçlarla, bloglarını tasarlamalarına, yönetmelerine ve optimize etmelerine yardımcı olur. Blogman ayrıca, blog yazarlarının diğer blog yazarlarıyla iletişim kurmasını, yorum yapmasını ve beğenmesini sağlar. Blogman’ın vizyonu, Türkiye’nin en büyük ve en kaliteli blog platformu olmaktır.
        </p>
        <p class="text-dark fs-5 text-justify">
            Blogman’a katılmak için tek yapmanız gereken ücretsiz bir hesap oluşturmak ve kendi blogunuzu başlatmaktır. Blogman’da yazmak istediğiniz konuyu seçebilir, kendi tarzınızı belirleyebilir ve istediğiniz zaman yazabilirsiniz. Blogman’da yazdığınız her yazı, binlerce okuyucuya ulaşma şansına sahiptir. Blogman’da yazmak hem eğlenceli hem de ödüllendiricidir.
        </p>
        <p class="text-dark fs-5 text-justify">
            Blogman ile mutlu bloglamalar dileriz! 
        </p>
    </div>
</div>